@page "/comment/{Id:int}"
@inject HexbearAPIClient _client
<h3>Comment</h3>

@if (this.Comment == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <p>
        <MudMarkdown Value="@Comment.Content"></MudMarkdown>
    </p>
    <MudDivider DividerType="DividerType.FullWidth"></MudDivider>
    <br />
    <MudDataGrid T="string" Height="500px" Dense Items="@Comment.CommentLikes.Select(y => y.Person.Name).OrderBy(x => x)" Filterable="true">
         <ToolBarContent>
             <MudText Typo="Typo.h6">Users who upvoted this comment</MudText>
         </ToolBarContent>
         <Columns>
             <TemplateColumn>
                 <HeaderTemplate>
                     <span>Username</span>
                 </HeaderTemplate>
                 <CellTemplate>
                     <MudButton Style="justify-content: left;" Size="@Size.Small" Variant="@Variant.Text" Color="@Color.Primary" Href="@($"/u/{context.Item}")">@context.Item</MudButton>
                 </CellTemplate>
             </TemplateColumn>
         </Columns>
         <PagerContent>
             <MudDataGridPager T="string" PageSizeOptions="@(new int[]{50,200})" />
         </PagerContent>
     </MudDataGrid>
}
