@page "/listusers"
@inject HexbearAPIClient _client

<PageTitle>Users</PageTitle>

@if(Users == null){
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else{

    <MudDataGrid T="string" Height="1000px" Dense Items="@Users" SortMode="SortMode.Multiple" QuickFilter="@_quickFilter" Filterable="true">
         <ToolBarContent>
             <MudText Typo="Typo.h6">Users</MudText>
             <MudSpacer />
             <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                           AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
         </ToolBarContent>
         <Columns>
             <TemplateColumn>
                 <HeaderTemplate>
                     <span>Username</span>
                 </HeaderTemplate>
                 <CellTemplate>
                     <MudButton Style="justify-content: left;" Size="@Size.Small" Variant="@Variant.Text" Color="@Color.Primary" Href="@($"/u/{context.Item}")">@context.Item</MudButton>
                 </CellTemplate>
             </TemplateColumn>
         </Columns>
         <PagerContent>
             <MudDataGridPager T="string" PageSizeOptions="@(new int[]{50,200})" />
         </PagerContent>
     </MudDataGrid>
 }