@page "/u/{Username}"
@inject HexbearAPIClient _client

<PageTitle>User @this?.Person?.Name</PageTitle>
@if (this.Person == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{

    <h2>User @this?.Person?.DisplayName</h2>

    <MudExpansionPanels MultiExpansion="true" Dense>
        <MudExpansionPanel Text="Upvoted Removed Posts">
            <MudDataGrid T="Post" Height="500px" Dense Items="@UpvotedRemovedPosts" Filterable="true">
                 <ToolBarContent>
                     <MudText Typo="Typo.h6">User has upvoted @UpvotedRemovedPosts.Count removed Posts</MudText>
                 </ToolBarContent>
                 <Columns>
                     <TemplateColumn>
                         <HeaderTemplate>
                             <span>Id</span>
                         </HeaderTemplate>
                         <CellTemplate>
                             <MudButton Style="justify-content: left;" Size="@Size.Small" Variant="@Variant.Text" Color="@Color.Primary" Href="@($"/post/{context.Item.Id}")">@context.Item.Id</MudButton>
                         </CellTemplate>
                     </TemplateColumn>
                     <TemplateColumn>
                         <HeaderTemplate>
                             <span>Title</span>
                         </HeaderTemplate>
                         <CellTemplate>
                             <span class="elipsis" title="@context.Item.Name">@context.Item.Name</span>
                         </CellTemplate>
                     </TemplateColumn>
                 </Columns>
                 <PagerContent>
                     <MudDataGridPager T="Post" PageSizeOptions="@(new int[]{50,200})" />
                 </PagerContent>
             </MudDataGrid>
        </MudExpansionPanel>
        <MudExpansionPanel Text="Upvoted Removed Comments">
             <MudDataGrid T="Comment" Height="500px" Dense Items="@UpvotedRemovedComments" Filterable="true">
                 <ToolBarContent>
                     <MudText Typo="Typo.h6">User has upvoted @UpvotedRemovedComments.Count removed Comments</MudText>
                 </ToolBarContent>
                 <Columns>
                     <TemplateColumn>
                         <HeaderTemplate>
                             <span>Id</span>
                         </HeaderTemplate>
                         <CellTemplate>
                             <MudButton Style="justify-content: left;" Size="@Size.Small" Variant="@Variant.Text" Color="@Color.Primary" Href="@($"/comment/{context.Item.Id}")">@context.Item.Id</MudButton>
                         </CellTemplate>
                     </TemplateColumn>
                     <TemplateColumn>
                         <HeaderTemplate>
                             <span>Content</span>
                         </HeaderTemplate>
                         <CellTemplate>
                             <span class="elipsis" title="@context.Item.Content">@context.Item.Content</span>
                         </CellTemplate>
                     </TemplateColumn>
                 </Columns>
                 <PagerContent>
                     <MudDataGridPager T="Comment" PageSizeOptions="@(new int[]{50,200})" />
                 </PagerContent>
             </MudDataGrid>
        </MudExpansionPanel>
         <MudExpansionPanel Text="Reports Against User">
             <ReportDataTable Height="500px" ReportItems="@ReportedItems" Title="@($"Reports Against User ({GetAgainstCount()})")"></ReportDataTable>
        </MudExpansionPanel>
         <MudExpansionPanel Text="Reports Created By User">
             <ReportDataTable Height="500px" ReportItems="@ReportsCreatedItems" Title="@($"Reports Created By User ({GetCreatedCount()})")"></ReportDataTable>
        </MudExpansionPanel>
    </MudExpansionPanels>

    
    

    <br />
}